body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0d0202;
}
header {
    background-color: #0d0202;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}
.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.navbar ul li {
    margin-left: 30px;
}
.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.navbar ul li a.active {
    text-decoration: underline;
}
.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('assets/images/slider-img-1 copy.jpg') no-repeat center center/cover;
}
.vertical-text {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%) rotate(-90deg);
    font-size: 60px;
    font-weight: bold;
    color: white;
}
.album-info {
    position: absolute;
    bottom: 20%;
    right: 10%;
    text-align: right;
    color: #fff;
}
.album-info h1 {
    font-size: 3.5em;  
      margin: 0;
    letter-spacing: 2px;
}
.buttons {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
}
.button img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}
   .player {
            display: flex;
            align-items: center;
            padding: 10px;
            background-color: white;
            border: 1px solid #ddd;
        }
        .album-art {
            width: 50px;
            height: 50px;
            background-image: url('assets/images/album-16-150x150.jpg');
            background-size: cover;
            background-position: center;
            margin-right: 10px;
        }
        .track-info {
            flex-grow: 1;
        }
        .track-title {
            font-size: 16px;
            font-weight: bold;
            margin: 0;
        }
        .track-artist {
            font-size: 12px;
            color: #888;
            margin: 0;
        }
        .controls {
            display: flex;
            align-items: center;
        }
        .controls i {
            font-size: 20px;
            margin: 0 10px;
            cursor: pointer;
        }
        .progress-bar {
            flex-grow: 1;
            height: 5px;
            background-color: #000000;
            margin: 0 10px;
            position: relative;
        }
        .progress {
            height: 100%;
            background-color: #000;
            width: 0;
        }
        .time {
            font-size: 12px;
            color: #888;
        }
        .volume-control {
            display: flex;
            align-items: center;
        }
        .volume-control i {
            font-size: 20px;
            margin-right: 5px;
        }
        .volume-bar {
            width: 50px;
            height: 5px;
            background-color: #ddd;
            position: relative;
        }
        .volume {
            height: 100%;
            background-color: #000;
            width: 50%;
        }
        .ALBUM {
            display: flex;
            flex-direction: row;
            padding: 20px;
            background-image: url('assets/images/h1-img-8.jpg');
        }
        .left-section {
            flex: 1;
        }
        .right-section {
            flex: 1;
            padding-left: 20px;
        }
        .album-cover {
            position: relative;
        }
        .album-cover img {
            width: 100%;
            height: auto;
        }
        .album-info {
            position: absolute;
            bottom: 20px;
            left: 20px;
        }
        .album-info h1 {
            margin: 0;
            font-size: 24px;
        }
        .album-info p {
            margin: 0;
            font-size: 14px;
            color: #fff;
        }
        .track-list {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .track-list li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
            border-bottom: 1px solid #333;
        }
        .track-list li:last-child {
            border-bottom: none;
        }
        .track-list li span {
            flex: 1;
        }
        .track-list li .play-icon {
            margin-left: 10px;
        }
        .album-details {
            margin-top: 20px;
        }
        .album-details h2 {
            font-size: 18px;
        }
        .album-details p {
            font-size: 14px;
            line-height: 1.5;
        }
        .download-buttons {
            display: flex;
            margin-top: 20px;
        }
        .download-buttons img {
            width: 150px;
            height: auto;
            margin-right: 10px;
        }
        .LISTEN {
            text-align: center;
            background-color: #000;
        }
        h1 {
            font-size: 2.5em;
            font-weight: 700;
            margin-bottom: 10px;
        }
        .underline {
            width: 50px;
            height: 2px;
            background-color: #fff;
            margin: 0 auto 20px auto;
        }
        p {
            font-size: 1em;
            font-weight: 400;
            line-height: 1.5;
            max-width: 600px;
            margin: 0 auto;
        }
        h1,p{
            color: #fff;
        }
        .gallery {
            display: flex;
            flex-wrap: wrap;
            position: relative;
        }
        .gallery img {
            width: 33.33%;
            height: auto;
        }
        .cta {
            position: absolute;
            bottom: 20px;
            right: 20px;
            background-color: white;
            padding: 10px 20px;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            text-align: center;
        }
        .cta p {
            margin: 0;
            font-size: 14px;
            color: #333;
        }
        .cta button {
            background-color: #ff0055;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }
        .cta button:hover {
            background-color: #e6004c;
        }
        .back-to-top {
            position: fixed;
            right: 20px;
            bottom: 80px;
            background-color: #000;
            color: #fff;
            padding: 10px;
            border-radius: 50%;
            text-align: center;
            cursor: pointer;
        }
        .tour {
            width: 80%;
            margin: 0 auto;
            padding: 20px 0;
        }
        .tour-date {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #333;
            padding: 20px 0;
            color: #ffffff;
        }
        .tour-date .date {
            font-size: 48px;
            font-weight: bold;
        }
        .tour-date .details {
            flex-grow: 1;
            padding-left: 20px;
        }
        .tour-date .details .day {
            font-size: 14px;
            color: #999;
        }
        .tour-date .details .location {
            font-size: 18px;
            font-weight: bold;
        }
        .tour-date .buy-tickets {
            font-size: 14px;
            font-weight: bold;
            color: #fff;
            text-decoration: none;
        }
        .view-all {
            display: flex;
            justify-content: center;
            padding: 20px 0;
        }
        .view-all button {
            background-color: transparent;
            border: 1px solid #fff;
            color: #fff;
            padding: 10px 20px;
            font-size: 14px;
            cursor: pointer;
        }
        .sidebar {
            position: fixed;
            right: 20px;
            bottom: 20px;
            background-color: #fff;
            color: #000;
            padding: 10px;
            text-align: center;
            border-radius: 5px;
        }
        .sidebar  {
            background-color: #ffffff;
            color: #fff;
            padding: 10px;
            margin-top: 10px;
            display: block;
            text-decoration: none;
            border-radius: 5px;
        }
        .BLOG {
            width: 80%;
            margin: 0 auto;
            padding: 20px 0;
        }
        .header {
            text-align: center;
            margin-bottom: 20px;
        }
        .header h1 {
            font-size: 36px;
            margin: 0;
        }
        .header p {
            font-size: 16px;
            color: #ffffff;
        }
        .header hr {
            width: 50px;
            border: 1px solid #fff;
            margin: 10px auto;
        }
        .blog-posts {
            display: flex;
            justify-content: space-between;
        }
        .blog-post {
            width: 30%;
            text-align: center;
        }
        .blog-post img {
            width: 100%;
            height: auto;
        }
        .blog-post h2 {
            font-size: 18px;
            margin: 10px 0 5px;
        }
        .blog-post p {
            font-size: 14px;
            color: #aaa;
            margin: 0;
        }